@page "/SecretPage"
@using CleanArchitecture.Application.Interfaces.Contracts.Auth
@using CleanArchitecture.WASM.Auth
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inject ISecureApi SecureApi
<h3>SecretPage</h3>

<button @onclick="CallApi">Call Protected API</button>

@if (!string.IsNullOrEmpty(message))
{
    <p>@message</p>
}

@if (!string.IsNullOrEmpty(error))
{
    <p style="color:red">@error</p>
}

@code {
    private string? message;
    private string? error;

    private async Task CallApi()
    {
        message = null;
        error = null;

        try
        {
            message = await SecureApi.Test();
        }
        catch (Exception ex)
        {
            error = $"Exception: {ex.Message}";
        }
        await InvokeAsync(StateHasChanged);
    }
}